

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>编辑商品资料</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../../layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../../css/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">编辑商品资料</div>
          <div class="layui-card-body" pad15>
            
            <div class="layui-form" lay-filter="">
            	
            	<div class="layui-form-item">
                <label class="layui-form-label">商品编号</label>
                <div class="layui-input-inline">
                  <input type="text" name="code" value="" placeholder="商品编号" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
              </div>
            	
              <div class="layui-form-item">
                <label class="layui-form-label">商品名称</label>
                <div class="layui-input-inline">
                  <input type="text" name="name" value="" placeholder="商品名称" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux"></div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">商品型号</label>
                <div class="layui-input-inline">
                  <input type="text" name="model" value="" autocomplete="off" placeholder="商品型号" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">商品价格</label>
                <div class="layui-input-inline">
                  <input type="text" name="price" value="" autocomplete="off" placeholder="商品价格" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">商品条形码</label>
                <div class="layui-input-inline">
                  <input type="text" name="barCode" value=""  autocomplete="off" placeholder="商品条形码" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">是否推荐</label>
                <div class="layui-input-block">
                  <input type="radio" name="isHot" value="1" title="是" checked="checked">
                  <input type="radio" name="isHot" value="0" title="否" >
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">商品图片</label>
                <div class="layui-input-inline">
                  <input name="image" id="LAY_productSrc" placeholder="商品图片" value="" class="layui-input">
                  <div class="layui-form-mid layui-word-aux">建议上传分辨率为 420 * 280的图片</div>
                </div>
                <div class="layui-input-inline layui-btn-container" style="width: auto;">
                  <button type="button" class="layui-btn layui-btn-primary" id="LAY_productUpload">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                  </button>
                  <button class="layui-btn layui-btn-primary" layadmin-event="productPreview">查看图片</button >
                </div>
             </div>
              <div class="layui-form-item">
                <label class="layui-form-label">排序</label>
                <div class="layui-input-inline">
                  <input type="text" name="sort" value=""  autocomplete="off"  placeholder="排序" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
					      <label class="layui-form-label">发布状态</label>
					      <div class="layui-input-inline">
					        <input type="checkbox" lay-verify="required" lay-filter="status" name="status1" lay-skin="switch" lay-text="已发布|待发布" checked>
					      </div>
					    </div>
              
               <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">商品关键字</label>
                <div class="layui-input-block">
                  <textarea name="keywords" placeholder="商品关键字" class="layui-textarea"></textarea>
                </div>
              </div>
              
              
              <div class="layui-form-item">
                <label class="layui-form-label">商品描述</label>
                <div class="layui-input-block">
                  <textarea id="description" name="description" style="display: none;" ></textarea>
                </div>
              </div>
              
              <div class="layui-form-item">
                <label class="layui-form-label">商品参数</label>
                <div class="layui-input-block">
                  <textarea id="parame" style="display: none;"></textarea>
                </div>
              </div>
              
              <div class="layui-form-item">
                <label class="layui-form-label">支持型号_苹果机型</label>
                <div class="layui-input-inline">
                  <input type="text" name="iphoneModel" value="" autocomplete="off" class="layui-input">
                </div>
              </div>
              
              <div class="layui-form-item">
                <label class="layui-form-label">支持型号_安卓机型</label>
                <div class="layui-input-inline">
                  <input type="text" name="androidModel" value="" autocomplete="off" class="layui-input">
                </div>
              </div>
              
              <div class="layui-form-item">
                <label class="layui-form-label">配件</label>
                <div class="layui-input-inline">
                  <input type="text" name="parts" value=""  autocomplete="off" class="layui-input">
                </div>
              </div>
              
              <div class="layui-form-item">
                <label class="layui-form-label">保修说明</label>
                <div class="layui-input-inline">
                  <input type="text" name="warranty" value="" autocomplete="off" class="layui-input">
                </div>
              </div>
              
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit">提交</button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
 
  
  <script src="../../../layui/layui.js"></script>  
  <script>
	layui.config({
	    base: '../../../js/' //静态资源所在路径
	}).extend({
	    index: 'lib/index' //主入口模块
	}).use(['index','layedit','form','admin','upload'],function(){
		var layedit = layui.layedit,
		form = layui.form,
		admin = layui.admin,
		$ = layui.$,
		upload = layui.upload;
		
		// 编辑器上传接口
		layedit.set({
		  uploadImage: {
		    url: '/file/fileManager/upload2' 
		    ,type: 'post' 
		  }
		});
		
		//商品描述编辑器
  		var description = layedit.build('description',{
  			height: 180,
  			tool: ['face','image','strong', 'italic', 'underline','del', '|', 'left','center','right','link','unlink','|','code' ]
  		});
  		
		var id = getQueryString("id");
		
		if(id!=null){
			
			admin.req({
				url: "/sys/productinfo/init",
				type: "get",
				data: {id:id},
				done: function(data) {
						$("input[name='code']").val(data.data.code);
						$("input[name='name']").val(data.data.name);
						$("input[name='price']").val(data.data.price);
						$("input[name='model']").val(data.data.model);
						$("input[name='barCode']").val(data.data.barCode);
						$("input[name='image']").val(data.data.image);
						$("input[name='sort']").val(data.data.sort);
						$("input[name='keywords']").val(data.data.keywords);
						$("input[name='description']").val(data.data.description);
				}
			});	
		}
  		
  		// 监听提交事件
		form.on("submit(layuiadmin-app-form-submit)", function(t) {
		
		if(t.field.status1== "on"){
    		t.field.status1="1"
		}else{
			t.field.status1="0"
		}
    	
		t.field.description = layedit.getContent(description);//商品描述
		
		
		if(id !=null ){
				//修改
			var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  
			t.field.id = id;
			admin.req({
				url: "/sys/productinfo/updateSave",
				type: "post",
				data: t.field,
				done: function(data) {
					if(data.result){
						layer.msg(data.msg,{
							time: 2000
						},function(){
							parent.layui.table.reload('LAY-app-product-list'); //重载表格
				      	parent.layer.close(index); //再执行关闭 
						});
						
					}else{
						layer.msg(data.msg, {
						    offset: '15px'
						    ,icon: 2
						  });
					}
				}
			});
		}else{
			// 新增
			admin.req({
				url: "/sys/productinfo/addSave",
				type: "post",
				data: t.field,
				done: function(data) {
					if(data.result){
						layer.msg(data.msg,{
							time: 2000
						},function(){
							if(index!=null){
								parent.layui.table.reload('LAY-app-product-list'); //重载表格
				      	parent.layer.close(index); //再执行关闭 
							}else{
								window.location.reload();
							}
						});
						
					}else{
						layer.msg(data.msg, {
						    offset: '15px'
						    ,icon: 2
						  });
					}
				}
			});
		}
		
	});
	
	
	// 图片上传
	var carouse = $("#LAY_productSrc");
    upload.render({
			url: "/file/fileManager/upload",
			elem: "#LAY_productUpload",
			done: function(t) {
				carouse.val(t.url);
			}
		}), admin.events.productPreview = function(t) {
				// 查看图片
				var i = carouse.val();
				layer.photos({
					photos: {
						title: "查看图片",
						data: [{
							src: i
						}]
					},
					shade: .01,
					closeBtn: 1,
					anim: 5
				})
			}
  		
	});
  </script>
</body>
</html>