<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmyjn.index.carousel.dao.mapper.CarouselGroupMapper">

<!-- **************以下映射必须与数据库一致 不要更改，除非数据库改变**************** -->

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.zmyjn.index.carousel.entity.CarouselGroup">
				
		insert into carousel_group
		(
			name,
			code,
			type,
			sort,
			status1,
			remark,
			create_by,
			create_time,
			update_by,
			update_time
		)
		values	
		(	
			#{name},
			#{code},
			#{type},
			#{sort},
			#{status1},
			#{remark},
			#{createBy},
			#{createTime},
			#{updateBy},
			#{updateTime}
		)	

	</insert>
	
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from carousel_group 	
		WHERE ID=#{id}
	</delete>
	
	<delete id="deleteByIds" parameterType="java.util.Collection">
     	delete from carousel_group 	
     	WHERE ID IN
     	<foreach collection="array" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach> 
  	 </delete>
  	 
  	 <delete id="logicDelete" parameterType="java.lang.Integer">
		update carousel_group set status1 = '-1' 	
		WHERE ID=#{id}
	</delete>
	
	<delete id="logicDeleteByIds" parameterType="java.util.Collection">
     	update carousel_group set status1 = '-1' 	
     	WHERE ID IN
     	<foreach collection="array" index="index" item="item" open="(" separator="," close=")"> #{item} </foreach> 
  	 </delete>
	
	<update id="update" parameterType="com.zmyjn.index.carousel.entity.CarouselGroup" >
			
		update carousel_group 	
		<set> 	
			name=#{name},
			code=#{code},
			type=#{type},
			sort=#{sort},
			status1=#{status1},
			remark=#{remark},
			create_by=#{createBy},
			create_time=#{createTime},
			update_by=#{updateBy},
			update_time=#{updateTime}
		</set> 	
		where 
		ID=#{id} 	

	</update>
	
	<update id="updateWithIf" parameterType="com.zmyjn.index.carousel.entity.CarouselGroup" >
			
		update carousel_group 	
		<set> 	
			<if test=" name!=null ">	
				name=#{name},	
			</if>	
			<if test=" code!=null ">	
				code=#{code},	
			</if>	
			<if test=" type!=null ">	
				type=#{type},	
			</if>	
			<if test=" sort!=null ">	
				sort=#{sort},	
			</if>	
			<if test=" status1!=null ">	
				status1=#{status1},	
			</if>	
			<if test=" remark!=null ">	
				remark=#{remark},	
			</if>	
			<if test=" createBy!=null ">	
				create_by=#{createBy},	
			</if>	
			<if test=" createTime!=null ">	
				create_time=#{createTime},	
			</if>	
			<if test=" updateBy!=null ">	
				update_by=#{updateBy},	
			</if>	
			<if test=" updateTime!=null ">	
				update_time=#{updateTime},	
			</if>	
		</set>	
		where 	
		ID=#{id} 	

	</update>
	
	<!-- *************************************************************************** -->
	<!-- **************以下映射根据业务做相应调整**************** -->
	<!-- *************************************************************************** -->
  	
  	<delete id="deleteByMap" parameterType="java.util.Map">
    	delete from carousel_group 	 
    	<where>
    		
    	</where>
  	</delete>
	
	<select id="findById" parameterType="java.lang.Integer" resultType="com.zmyjn.index.carousel.entity.CarouselGroup">
				
		select  	
			a.id id,
			a.name name,
			a.code code,
			a.type type,
			a.sort sort,
			a.status1 status1,
			a.remark remark,
			a.create_by createBy,
			a.create_time createTime,
			a.update_by updateBy,
			a.update_time updateTime
		from carousel_group a	

		where a.Id=#{id}	
	</select>

	<select id="findListByMap" parameterType="java.util.Map" resultType="com.zmyjn.index.carousel.entity.CarouselGroup">
		
				
		select  	
			a.id id,
			a.name name,
			a.code code,
			a.type type,
			a.sort sort,
			a.status1 status1,
			a.remark remark,
			a.create_by createBy,
			a.create_time createTime,
			a.update_by updateBy,
			a.update_time updateTime
		from carousel_group a	

		
		<where>
			
		</where>

	</select>
	
	<select id="list" parameterType="java.util.Map" resultType="com.zmyjn.index.carousel.entity.CarouselGroup">
		
		
				
		select  	
			a.id id,
			a.name name,
			a.code code,
			a.type type,
			a.sort sort,
			a.status1 status1,
			a.remark remark,
			a.create_by createBy,
			a.create_time createTime,
			a.update_by updateBy,
			a.update_time updateTime
		from carousel_group a	

		
		<where>
			<if test="searchKeys!= null ">
				AND ( 1=2
				<foreach collection="searchKeys" index="index" item="item" >
					 OR a.id like #{item}
				</foreach> 
				)
			</if>
			<if test="name != null">
				and a.name like #{name}
			</if>
			<if test="code != null">
				and a.code = #{code}
			</if>
			<if test="type != null">
				and a.type = #{type}
			</if>
		</where>

		
	</select>
	
	<select id="findOneByMap" parameterType="java.util.Map" resultType="com.zmyjn.index.carousel.entity.CarouselGroup">
				
		select  	
			a.id id,
			a.name name,
			a.code code,
			a.type type,
			a.sort sort,
			a.status1 status1,
			a.remark remark,
			a.create_by createBy,
			a.create_time createTime,
			a.update_by updateBy,
			a.update_time updateTime
		from carousel_group a	

		<where>
		
		</where>
		limit 1
	</select>
</mapper>
	