<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <title>Adyss - 全天拍</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <link rel="icon" type="image/jpg" href="res/static/images/home/icon.jpg" />
  <script type="text/javascript" src="res/layui/layui.js"></script>
  <link rel="stylesheet" type="text/css" href="res/layui/css/layui.css">
  <link rel="stylesheet" type="text/css" href="res/static/css/main.css">
  <link rel="stylesheet" type="text/css" href="res/static/css/product.css">
  <!--加载meta IE兼容文件-->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

</head>
<body>
  
  <!-- header -->
  <div class="header_box">
    <div class="header">  
      <ul class="app-header">
        <li class="app-header-menuicon">
           <i class="layui-icon layui-icon-more-vertical"></i>
        </li>
      </ul>
      <h1 class="logo">
        <a href="#"><img src="res/static/images/home/logo.png" /></a>
      </h1>
      <div class="nav"  style="visibility: visible">
        <a href="index.html">首页</a>
        <a href="case.html">案例</a>
        <a href="product.html"  class="active">产品</a>
        <a href="service.html">服务</a>
        <a href="about.html">关于</a>
        <a href="en/index.html">中文/English</a>
      </div>  
      <ul class="layui-nav header-down-nav">
        <li class="layui-nav-item"><a href="index.html">首页</a></li>
        <li class="layui-nav-item"><a href="case.html" class="active">案例</a></li>
        <li class="layui-nav-item"><a href="service.html">服务</a></li>
        <li class="layui-nav-item"><a href="about.html">关于</a></li>
        <li class="layui-nav-item"><a href="en/index.html">中文/English</a></li>
      </ul>
    </div>
  </div>
  <!-- end-header -->



  <!-- product-content -->
  <!--<div class="product-content">
    <div class="banner">
        <div class="img-text">
          <img src="res/static/images/al_img1.jpg" alt="">
          <h3>
            今日推荐
            <br><span>优秀案例</span>
          </h3>
        </div>
        <div class="img-text active">
          <img src="res/static/images/al_img2.jpg" alt="">
          <h3>
            今日推荐
            <br><span>优秀案例</span>
          </h3>
        </div>
    </div>
    <div class="imgtext-flow">
      <div class="layui-fluid pb50">
        <div class="layui-row item-list-box layui-clear" id="item-list-box" style="margin:0">
        </div>
      </div>
    </div>  
  </div>-->
  
  
   <div class="banner">
    <div class="cont w1000">
      <div class="title">
        <h3>MY<br />BLOG</h3>
        <h4>well-balanced heart</h4>
      </div>
      <div class="amount">
        <p><span class="text">访问量</span><span class="access">1000</span></p>
        <p><span class="text">日志</span><span class="daily-record">1000</span></p>
      </div>
    </div>
  </div>
  
  
   <div class="content">
    <div class="cont w1000">
      <div class="title">
        <span class="layui-breadcrumb" lay-separator="|">
          <a href="javascript:;" class="active">设计文章</a>
          <a href="javascript:;">前端文章</a>
          <a href="javascript:;">旅游杂记</a>
        </span>
      </div>
      <div class="list-item">
        <div class="item">
          <div class="layui-fluid">
            <div class="layui-row">
              <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
                <!--<div class="img"><img src="res/images/product/sy/sy_img1.jpg" alt=""></div>-->
             		<div class="img"><img src="/res/static/images/products/sy/sy_img1.jpg" alt=""></div>
              </div>
              <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                <div class="item-cont">
                  <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                  <h5>设计文章</h5>
                  <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                  <a href="details.html" class="go-icon"></a>
                </div>
            </div>
            </div>
           </div>
        </div>
        <div class="item">
          <div class="layui-fluid">
            <div class="layui-row">
              <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
                <div class="img"><img src="/res/static/images/products/sy/sy_img2.jpg" alt=""></div>
              </div>
              <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                <div class="item-cont">
                  <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                  <h5>设计文章</h5>
                  <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                  <a href="details.html" class="go-icon"></a>
                </div>
            </div>
            </div>
           </div>
        </div>
        <div class="item">
          <div class="layui-fluid">
            <div class="layui-row">
              <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
                <div class="img"><img src="/res/static/images/products/sy/sy_img3.jpg" alt=""></div>
              </div>
              <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                <div class="item-cont">
                  <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                  <h5>设计文章</h5>
                  <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                  <a href="details.html" class="go-icon"></a>
                </div>
            </div>
            </div>
           </div>
        </div>
        <div class="item">
          <div class="layui-fluid">
            <div class="layui-row">
              <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
                <div class="img"><img src="/res/static/images/products/sy/sy_img4.jpg" alt=""></div>
              </div>
              <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                <div class="item-cont">
                  <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                  <h5>设计文章</h5>
                  <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                  <a href="details.html" class="go-icon"></a>
                </div>
            </div>
            </div>
           </div>
        </div>
        <div class="item">
          <div class="layui-fluid">
            <div class="layui-row">
              <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
                <div class="img"><img src="/res/static/images/products/sy/sy_img5.jpg" alt=""></div>
              </div>
              <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
                <div class="item-cont">
                  <h3>空间立体效果图，完美呈现最终效果<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                  <h5>设计文章</h5>
                  <p>室内设计作为一门新兴的学科，尽管还只是近数十年的事，但是人们有意识地对自己生活、生产活动的室内进行安排布置，甚至美化装饰，赋予室内环境以所祈使的气氛，却早巳从人类文明伊始的时期就已存在</p>
                  <a href="details.html" class="go-icon"></a>
                </div>
            </div>
            </div>
           </div>
        </div>
      </div>
      <div id="demo" style="text-align: center;"></div>
    </div>
  </div>
  
  
  <!-- end product-content -->
  <!-- 模版引擎导入 -->
 
  <script id="zonesTpl" type="text/html">
  
    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
      <div class="item">
          <img src="<% d.images %>" alt="">
          <div class="item-text">
            <h3><% d.text %></h3>
            <span>2016/10/13</span>
          </div>
      </div>
    </div>
 
  </script>

  

  <!-- footer -->
  <div class="footer">
    <div class="line">
    	<div class="layui-row">
		    <div class="layui-col-xs3">
		      <div class="grid-demo grid-demo-bg1">
		      	<dl>
			    		<dt>地址</dt>
			    		<dd>深圳市光明新区公明街道合水口社区中鹏程工业园主楼七楼</dd>
			    	</dl>
		      </div>
		    </div>
		    <div class="layui-col-xs3">
		      <div class="grid-demo">
		      	<dl>
			    		<dt>邮箱</dt>
			    		<dd>adyss@foxmail.com</dd>
			    	</dl>
		      </div>
		    </div>
		    <div class="layui-col-xs3">
		      <div class="grid-demo grid-demo-bg1">
		      	<dl>
			    		<dt>电话</dt>
			    		<dd>0755-23942823</dd>
			    	</dl>
		      </div>
		    </div>
		    <div class="layui-col-xs3">
		      <div class="grid-demo">
		      	<dl>
			    		<dt>工作时间</dt>
			    		<dd>工作时间：9:00~18:00</dd>
			    	</dl>
		      </div>
		    </div>
		  </div>
    	
    </div>
    <p class="copyright">
      <span id="copyright">@2018 深圳市全天拍科技有限公司</span><br />
      <a href="http://www.miibeian.gov.cn" target="_blank" style="color: ;"><span id="beian">粤ICP备17050587号</span></a>
      <!--<a href="http://www.szhulian.com/Application/Html/copyright/mzsm.html" target="_blank">免责声明</a><br />-->
      @2018 深圳市全天拍科技有限公司<br />
      <a href="http://www.miibeian.gov.cn" target="_blank" style="color: ;">粤ICP备17050587号</a>
      <a href="http://www.szhulian.com/Application/Html/copyright/mzsm.html" target="_blank">免责声明</a><br />
    </p>
    <div class="icon_box">
      <a href="javascript:;" onclick="wxClick();"><i class="layui-icon layui-icon-login-wechat weixin-icon"></i></a>
      <a href="javascript:;" onclick="weiboClick()"><i class="layui-icon layui-icon-login-weibo weibo-icon"></i></a>
    </div>
  </div>
  <!-- end-footer -->

  <script type="text/javascript">

      layui.use(['carousel', 'jquery', 'element'], function() {

      });
  </script>
<!--<script type="text/javascript">-->
<!--layui.config({-->
  <!--base: 'res/static/js/' //你存放新模块的目录，注意，不是layui的模块目录-->
<!--}).use(['common','flow','laytpl','element'],function(){-->
  <!--var common = layui.common,flow = layui.flow,laytpl = layui.laytpl,element = layui.element,$ = layui.$;-->


  <!--$(function(){-->
      <!--alert(1);-->
    <!--console.log(1);-->
  <!--});-->


  <!--// 模版引擎导入-->

  <!--var data = {"code":0,"msg":"比喻","last_page":2,"list_page":1000,"data":[{"text":"你好","images":"res/static/images/al_img3.jpg"},{"text":"你好","images":"res/static/images/al_img4.jpg"},{"text":"你好","images":"res/static/images/al_img5.jpg"},{"text":"你好","images":"res/static/images/al_img6.jpg"}]}-->
  <!--laytpl.config({-->
    <!--open: '<%',-->
    <!--close: '%>'-->
  <!--});-->

    <!--flow.load({-->
      <!--elem: '#item-list-box'-->
      <!--,isAuto :  false-->
      <!--,isLazyimg: true-->
      <!--,mb:100-->
      <!--,done: function(page,next){-->
        <!--var lis = [];-->
         <!--var getTpl = zonesTpl.innerHTML;-->
          <!--var img = new Image();-->
          <!--layui.each(data.data,function(index,item){  -->
            <!--laytpl(getTpl).render(item,function(html){-->
                <!--lis.push(html); -->
            <!--});-->
          <!--});-->
          <!--// common.waterfall(); -->
          <!--if(page < data.data.last_page){-->
            <!--next(lis.join(''),true);-->
          <!--}else{-->
            <!--next(lis.join(''),false);-->
          <!--}-->
          <!--element.init()-->
      <!--}-->
    <!--})-->
  <!--// window.onload = function(){-->
  <!--//   common.waterfall(); -->
  <!--// }-->
  <!--$('.app-header-menuicon').on('click',function(){-->
    <!--$('.header-down-nav').toggleClass('down-nav')-->
  <!--})-->
  <!--$('.case-content .banner .img-text').on('click',function(){ -->
    <!--if($(this).hasClass('active')){-->
      <!--$(this).removeClass('active').siblings('.img-text').addClass('active')-->
    <!--}else{-->
      <!--$(this).addClass('active').siblings('.img-text').removeClass('active')-->
    <!--}-->
  <!--})-->
<!--});-->
<!--</script>-->
</body>
</html>